html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  width: 100%;
  margin-top: 10px;
}
